<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/index">Home</a></li>
			<li><a href="../articles/articles">Articles</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<h1>Mind your own business, motherfucker</h1>
</body>
</html>